@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
body {
	height: 100vh;
	width: 100vw;
	background-color: black;
	font-family: 'Mina', sans-serif;
	overflow: hidden;
	font-family: 'Itim', cursive;
}

#centerized-div {
	min-height: 100vh
}

#hangman-pic{
    border-radius: 20px;
}

.vh30{
 height: 30vh;
 background-color: white;
 border-radius: 30vh;
}

.letters{
	font-weight: bolder;
	font-size: xx-large;
}